.cart-page {
    background: var(--background-color);

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 60px 5%;
}

.cart-shop {
    height: auto;
    width: 100%;

    text-align: center;

    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-shop h1 {
    margin: 35px 0px;
    font-weight: 500;
}

.cart-shop h1 > span {
    color: rgb(8, 172, 248);
    padding: 0px 10px 0px 0px;
}

.shop-info {
    display: grid;
    width: 100%;
    /* height: auto; */
    min-height: 350px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "shop-table ."
        "shop-table ."
        "shipping price-table"
    ;
}

.shop-table {
    grid-area: shop-table;
}

.shop-table li {
    border: 1px solid black;
    padding: 9px;
    margin-bottom: 10px;
}

.shop-table li > img {
    width: 40px;
    height: 32px;
}

.shop-table li span {
    padding: 0px 10px;
    line-height: 30px;
    vertical-align: top;
}

.shop-table a{
    font-size: 17px;
    background-color: white;
    color: rgb(189, 51, 253);
    padding: 0px 8px;
}

.shop-table a:hover{
    font-size: 17px;
    background-color: white;
    color: #222;
    cursor: pointer;
}

.price-table {
    grid-area: price-table;
}

.shipping {
    grid-area: shipping;
}