footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #222;
    width: 100%;
    padding: 40px;
}

footer ul.footer-info {
    margin: 20px 50px;
}
footer ul.footer-info:nth-child(1) {
    margin-left: 100px;
}


li h2 {
    color: whitesmoke;
    font-weight: 200;
    font-size: 24px;
    padding-bottom: 20px;
}

li a {
    font-size: 12px;
    color: rgb(8, 172, 248);
}

li a:hover{
    font-size: 12px;
    color: whitesmoke;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.copyright span:nth-child(1){
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-wrap: nowrap;
    flex-basis: 100%;
}

